
.loader1 {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.loader1 .dot {
  opacity: 0;
  margin-left: 5px;
  animation: loader1-animation 1.5s infinite;
}

.loader1 .dot1 {
  animation-delay: 0.5s;
}

.loader1 .dot2 {
  animation-delay: 0.6s;
}

.loader1 .dot3 {
  animation-delay: 0.7s;
}

@keyframes loader1-animation {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
