
.loader25 {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top: 5px solid #a81e0f;
  animation: loader25-animation 2s linear infinite;
}

.loader25 span {
  position: absolute;
  font-size: 14px;
  width: 80px;
  height: 80px;
  color: #000;
  text-align: center;
  line-height: 80px;
  animation: loader25-animation1 2s linear infinite;
}
.loader25::before,
.loader25::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.loader25::before {
  transform: rotate(120deg);
  border-top: 5px solid #e68e41;
}

.loader25::after {
  transform: rotate(240deg);
  border-top: 5px solid #266996;
}

@keyframes loader25-animation {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader25-animation1 {
  to {
    transform: rotate(-360deg);
  }
}
